<a data-toggle="modal" href="#callbackModal" class="callback">Заказать обратный звонок</a>
<div id="callbackModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="callbackModalLabel">Мы вам перезвоним</h4>
            </div>
            <div class="modal-body">
                <h4>Заказать звонок</h4>
                <p>Для соединения с оператором введите ваш номер в международном формате</p>
                <form method="post" name="callback-form" role="form">
                    <div class="form-group has-success">
                        <label class="sr-only" for="inputPhone"></label>
                        <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="89501234567">
                    </div>
                </form>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" id="callback-button">Заказать звонок</button>
                </div>
                <br>
                <div id="callback-alert" class="alert alert-success alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span></button>
                    Хорошо! Ожидайте звонка.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>