<% layout('../layout') -%>

<section id="page-header">
    <div class="container">
        <h1 class="page-header">Операция была выполнена успешно!</h1>
        <a href="<%= back %>" class="btn btn-primary btn-sm">Вернуться назад</a>
    </div>
</section>